<div class="content">
  <h2>Publciaciones</h2>
  <hr class="rounded">
  <form>
    <div class="mb-3 has-validation">
      <label for="exampleInputEmail1" class="form-label">Nombre*</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" [(ngModel)]="name" [ngModelOptions]="{standalone: true}">
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Descripción</label>
      <textarea class="form-control" placeholder="Escriba una descripción" id="floatingTextarea"></textarea>
    </div>
    <button type="submit" (click)="setData()" class="btn btn-outline-success">Publicar</button>
    <div *ngIf="alert==true" class="alert alert-danger" role="alert">Nombre requerido</div>
    <div *ngIf="created==true" class="alert alert-success" role="alert">Publicación creada</div>
  </form>
</div>